/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

body {
    font-family: 'Source Sans Pro', sans-serif;
}


header {
    margin-top: 1rem;
    margin-bottom: 2rem;

    h1 {
        font-size: 2rem;
        text-align: center;
        padding: .7rem 1rem;
    }

    p {
        text-align: center;
    }
}

.page {
    display: flex;
    height: 100vh;
    align-content: center;
    align-items: center;


    &>div {
        width: 50%;
    }
}

.full-height {
    height: 100vh;
}

.square {

    width: 300px;
    height: 100px;
    background-color: fuchsia;
    margin: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square:after {
    content: "Click me";
    font-size: 2rem;
    font-family: monospace;
}

.fuchsia {
    background-color: fuchsia;
}

.light-salmon {
    background-color: LightSalmon;
}

.royal-blue {
    background-color: RoyalBlue;
}

.teal {
    background-color: teal;
}

.text-white {
    color: #fff;
}